{% extends 'layout.html' %}

{% block content %}
<div class="full-height" id="main-wrapper">
  <div class="full-height flex flex-column" id="main">
    <div class="flex-auto"></div>
    <div class="white flex-center">
      <h1>Chris &amp; Tom</h1>
      <div class="flex">
        <div class="flex-auto"></div>
        <div class="bg-white tk-underline"></div>
        <div class="flex-auto"></div>
      </div>
      <div>
        <h3 id="fader">Get married</h3>
      </div>
    </div>
    <div class="flex-auto"></div>
  </div>

  <div class="full-height flex bg-blue" id="venue">
    <div id="map"></div>
    <div class="full-height white flex flex-column flex-center flex-auto" id="venue-detail">
      <div class="flex-auto"></div>
      <div class="flex flex-column flex-wrap">
        <div>
          <h2>When</h2>
          <h4>October 40th, 2018</h4>
        </div>
        <div>
          <h2>Where</h2>
          <h4>
            The Gowanus Canal
            <br/>
            Brooklyn, NY
          </h4>
        </div>
        <div>
          <a class="btn" id="rsvp">RSVP</a>
        </div>
      </div>
      <div class="flex-auto"></div>
    </div>
  </div>

  <div class="full-height flex flex-column bg-silver" id="accomodations">
    <div class="flex-auto"></div>
    <div class="white flex-center flex-wrap">
      <h2>Accomodations</h2>
    </div>
    <div class="flex space-around">
      {% for place in accomodations %}
        <div class="white flex-center flex-wrap m1">
          <h2>{{place.name}}</h2>
          <h4>
            {{place.address}}
            <br />
            {{place.city}}
            <br />
            {{place.phone}}
          </h4>
          <div>
            <a class="btn" href={{place.href}} target="_blank">Map</a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="flex-auto"></div>
  </div>

  <div class="full-height flex bg-blue" id="registry">
    <div class="white flex flex-column flex-center flex-auto">
      <div class="flex-auto"></div>
      <div class="flex-wrap">
        <h2>Registry</h2>
        <h4>In lieu of gifts, please consider making a donation to one of these organizations.</h4>
      </div>
      <div class="flex-auto"></div>
    </div>
  </div>
</div>

<div class="white flex flex-column flex-center flex-auto bg-blue" id="rsvp-form">
  <div class="flex full-height">
    <div class="flex-auto"></div>
    <form class="flex flex-column">

      <div class="flex flex-column m1">
        <label class="left" for="email">* Email</label>
        <input class="field" type="email" name="email" />
      </div>

      <div class="flex flex-column m1">
        <label class="left" for="party">* Party Member(s)</label>
        <input class="field" type="text" name="party" />
      </div>

      {# <div class="flex flex-justify flex-wrap"> #}
      {#   <div class="flex flex-column m1 flex-grow"> #}
      {#     <label class="left" for="firstName1">* First Name</label> #}
      {#     <input class="field" type="text" name="firstName1" /> #}
      {#   </div> #}
      {#   <div class="flex flex-column m1 flex-grow"> #}
      {#     <label class="left" for="lastName1">* Last Name</label> #}
      {#     <input class="field" type="text" name="lastName1" /> #}
      {#   </div> #}
      {# </div> #}

      <div class="flex flex-justify m1">
        <label for="going">* Are you going?</label>
        <input type="radio" name="going" value="yes" checked />Yes</br>
        <input type="radio" name="going" value="no" />No</br>
      </div>

      {# <div class="left"> #}
      {#   <h5>Plus One</h5> #}
      {# </div> #}
      {#  #}
      {# <div class="flex flex-justify flex-wrap"> #}
      {#   <div class="flex flex-column m1 flex-grow"> #}
      {#     <label class="left" for="firstName2">First Name</label> #}
      {#     <input class="field" type="text" name="firstName2" /> #}
      {#   </div> #}
      {#   <div class="flex flex-column m1 flex-grow"> #}
      {#     <label class="left" for="lastName2">Last Name</label> #}
      {#     <input class="field" type="text" name="lastName2" /> #}
      {#   </div> #}
      {# </div> #}

      <div class="flex flex-column m1">
        <label class="left" for="email">Message</label>
        <textarea class="field" name="message"></textarea>
      </div>

      <div class="flex flex-justify flex-wrap">
        <a class="btn flex-grow back-btn m1">Back</a>
        <a type="submit" class="btn flex-grow m1" id="submit">Submit</a>
      </div>
    </form>
    <div class="flex-auto"></div>
  </div>
</div>

<div class="white flex flex-column flex-center flex-auto bg-blue" id="going">
  <div class="full-height flex flex-column">
    <div class="flex-auto"></div>
    <div class="flex">
      <div class="flex-auto"></div>
      <div class="flex flex-column">
        <div>
          <h2 id="going-message"></h2>
        </div>
        <div>
          <a class="btn m1 flex-grow back-btn">Back</a>
        </div>
      </div>
      <div class="flex-auto"></div>
    </div>
    <div class="flex-auto"></div>
  </div>
</div>

{% endblock %}
