{% extends 'layout.html' %}

{% block content %}
<div class="full-height" id="main-wrapper">
  <div class="full-height flex flex-column" id="main">
    <div class="flex-auto"></div>
    <div class="white flex-center">
      <h1>Chris &amp; Tom</h1>
      <div class="flex">
        <div class="flex-auto"></div>
        <div class="bg-white tk-underline"></div>
        <div class="flex-auto"></div>
      </div>
      <div>
        <h3 id="fader">Get married</h3>
      </div>
    </div>
    <div class="flex-auto"></div>
  </div>

  <div class="flex flex-column bg-blue" id="venue">
    <div class="flex vh70">
      <div class="white flex flex-column flex-center flex-auto" id="venue-detail">
        <div class="flex-auto"></div>
        <div class="flex flex-column flex-wrap">
          <div>
            <p><i>Here early? Join us for dinner and drinks!</i></p>
            <div>September 28th, 2018, starting at 7pm</div>
            <p>Randolph Beer DUMBO</p>
            <div>RSVP by email or phone</div>
            <div>susie.k.krone@gmail.com</div>
            <div>(609)-617-4365</div>
          </div>
        </div>
        <div class="flex-auto"></div>
      </div>
      <iframe
        class="map"
        id="map-1"
        frameborder="0"
        style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBzlMSV3Vlb1NIbafmA9MvA6MI7b_LnUO0&q=Randolph+Beer+DUMBO,Brooklyn+NY" 
        allowfullscreen></iframe>
    </div>
    <div class="flex vh100">
      <iframe
        class="map"
        id="map-2"
        frameborder="0"
        style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBzlMSV3Vlb1NIbafmA9MvA6MI7b_LnUO0&q=Greenwood+Park,Brooklyn+NY" 
        allowfullscreen></iframe>
      <div class="white flex flex-column flex-center flex-auto" id="venue-detail">
        <div class="flex-auto"></div>
        <div class="flex flex-column flex-wrap">
          <div>
            <h2>Ceremony & Reception</h2>
            <p>September 29th, 2018</p>
            <p>Cocktail hour starts at 5pm</p>
            <p>Ceremony at 6pm</p>
            <p>Full-on revelry to follow</p>
          </div>
          <div>
            <h2>Where</h2>
            <h4>
              Greenwood Park
              <br/>
              Brooklyn, NY
            </h4>
          </div>
          <div class="m1">
            <a class="btn" id="rsvp">RSVP</a>
          </div>
        </div>
        <div class="flex-auto"></div>
      </div>
    </div>
  </div>

  <div class="full-height flex flex-column bg-silver" id="accomodations">
    <div class="flex-auto"></div>
    <div class="white flex-center flex-wrap">
      <h2>Accomodations & Transportation</h2>
    </div>
    <div class="flex space-around">
      {% for place in accomodations %}
        <div class="white flex-center flex-wrap m1">
          <h4>{{place.name}}</h4>
          <h4>
            {{place.address}}
            <br />
            {{place.city}}
            <br />
            {{place.phone}}
          </h4>
          <div>
            <a class="btn" href={{place.href}} target="_blank">Map</a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="white flex-center flex-wrap m1">
      <i>Check back soon for transportation info! We plan on having a Lyft code so that we can pay for your cab rides to/from the venue!</i>
    </div>
    <div class="flex-auto"></div>
  </div>

  <div class="full-height flex bg-blue" id="registry">
    <div class="white flex flex-column flex-center flex-auto">
      <div class="flex-auto"></div>
      <div class="flex-wrap">
        <h2>Registry</h2>
        <h4 class="m1">
          We don't have a registry!
          However, if you'd like to buy us a drink while we're on our honeymoon,
          please feel free to help us out!
        </h4>
        <a href="http://paypal.me/tomcodychris" target="_blank" class="btn">PayPal</a>
      </div>
      <div class="flex-auto"></div>
    </div>
  </div>
</div>

<div class="white flex flex-column flex-center flex-auto bg-blue" id="rsvp-form">
  <div class="flex full-height">
    <div class="flex-auto"></div>
    <form class="flex flex-column">

      <div class="flex flex-column m1">
        <label class="left" for="email">* Email</label>
        <input class="field" type="email" name="email" id="email" />
      </div>

      <div class="flex flex-column m1">
        <label class="left" for="party">* Party Member(s)</label>
        <input class="field" type="text" name="party" id="party" />
      </div>

      <div class="flex flex-column m1">
        <label for="going">* Are you going?</label>
        <div id="radio-buttons" class="flex flex-justify m1">
          <a id="yes-going" class="flex-auto btn yes-going">
            <input type="radio" style="display:none" name="going" value="yes" checked />
            <span>Yes</span>
          </a>
          <a id="no-going" class="flex-auto btn">
            <input type="radio" style="display:none" name="going" value="no" />
            <span>No</span>
          </a>
        </div>
      </div>

      <div class="flex flex-column m1">
        <label class="left" for="email">Message</label>
        <textarea class="field" name="message"></textarea>
      </div>

      <div class="flex flex-justify flex-wrap">
        <a class="btn flex-grow back-btn m1">Back</a>
        <a type="submit" class="btn flex-grow m1 disabled" id="submit">Submit</a>
      </div>
    </form>
    <div class="flex-auto"></div>
  </div>
</div>

<div class="white flex flex-column flex-center flex-auto bg-blue" id="going">
  <div class="full-height flex flex-column">
    <div class="flex-auto"></div>
    <div class="flex">
      <div class="flex-auto"></div>
      <div class="flex flex-column">
        <div>
          <h2 id="going-message"></h2>
        </div>
        <div>
          <a class="btn m1 flex-grow back-btn">Back</a>
        </div>
      </div>
      <div class="flex-auto"></div>
    </div>
    <div class="flex-auto"></div>
  </div>
</div>

{% endblock %}
