<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width initial-scale=1.0'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/style.css" />
    <title>Chris &amp; Tom</title>
  </head>
  <body>

    <div class="full-height flex flex-column bg-black">
      <div id="nav" class="white flex flex-center flex-justify">
        <div><a href="/">Details</a></div>
        <div><a href="/">Accomodation</a></div>
        <div><a href="/">Registry</a></div>
        <div><a href="/">RSVP</a></div>
      </div>
      <div class="flex-auto"></div>
      <div class="white flex-center">
        <h1>Chris &amp; Tom</h1>
        <div class="flex">
          <div class="flex-auto"></div>
          <div class="bg-white tk-underline"></div>
          <div class="flex-auto"></div>
        </div>
        <div>
          <h5 class="relative slide1">Are really excited about filing jointly</h5>
          <h5 class="relative">Totally aren't being forced to do this</h5>
          <!-- <h5 class="relative slide3">Enjoy a nice cake as much as the next couple</h5> -->
        </div>
        <!-- <h5 class="relative slide">Totally aren't being forced to do this</h5> -->
        <!-- <h5 class="relative slide">Get married</h5> -->
      </div>
      <div class="flex-auto"></div>
    </div>

    <div class="full-height flex flex-column bg-blue">
      <div class="flex-auto"></div>
      <div class="white flex-center">
        <h1>Venue</h1>
      </div>
      <div class="flex-auto"></div>
    </div>

    <div class="full-height flex flex-column bg-red">
      <div class="flex-auto"></div>
      <div class="white flex-center">
        <h1>Venue</h1>
      </div>
      <div class="flex-auto"></div>
    </div>

    <script type="javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="javascript" src="/script.js"></script>
  </body>
</html>
